* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
  }
  
  :root{
    --primary-color: #11311a;
    --secondary-color:azure;
    --tertiary-color:rgb(175, 238, 212);
    --btnhover:rgba(14, 37, 30, 0.8);
  }

  .dark-theme {
    --primary-color: #36cf61;
    --secondary-color:rgb(0, 0, 0);
    --tertiary-color:rgb(14, 54, 54);
    --btnhover:rgba(13, 255, 182, 0.8);

  }

  body{
    background: var(--secondary-color);
  }
  html, body {
    height: 100%;
  }

  


  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color:var(--tertiary-color);
  }
  
  .logo {
    cursor: pointer;
    font-family: "Lobster", sans;
    text-decoration: none;
    color:var(--primary-color);
    font-size: 2.5vw;
    
  }
  
  .nav__links a,
  .cta,
  .overlay__content a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: var(--secondary-color);
    text-decoration: none;
  }
  .cta {
    color: var(--secondary-color);
  }
  .nav__links {
    list-style: none;
    display: flex;
  }
  
  .nav__links li {
    padding: 0px 20px;
  }
  
  .nav__links li a {
    transition: color 0.3s ease 0s;
  }
  
  .nav__links li a:hover {
    color: var(--primary-color);
  }
  
  .cta {
    padding: 9px 25px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition:color 0.3s ease 0s;
  }
  
  .cta:hover {
    background-color: var(--btnhover);
  }
  
  /* Mobile Nav */
  
  .menu {
    display: none;
  }
  
  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: var(--tertiary-color);
    overflow-x: hidden;
    transition: width 0.5s ease 0s;
  }
  
  .overlay--active {
    width: 100%;
  }
  
  .overlay__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .overlay a {
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: color 0.3s ease 0s;
  }
  
  .overlay a:hover,
  .overlay a:focus {
    color: var(--primary-color);
  }
  .overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: var(--secondary-color);
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {
      font-size: 20px;
    }
    .overlay .close {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }
  
  @media only screen and (max-width: 800px) {
    .nav__links,
    .cta {
      display: none;
    }
    .menu {
      display: initial;
    }
  }

#icon{
  width: 30px;
  float: right;
  margin: 5px;
  cursor: pointer;
}
  /*tcg content*/
  #tcgh1{
    color: azure;
    background-color:var(--primary-color);
    width: 280px;
    margin-top: 50px;
    font-size: 80px;
    border-top-right-radius: 20px;
    border-bottom-left-radius:20px ;
    border-bottom-right-radius: 50px;
    border-top-left-radius:50px ;
    
    font-family: "Lobster", sans;
    transition: color 0.3s ease 0s;
}
#tcgh1:hover{
  color: rgba(14, 37, 30, 0.8);
  background-color:azure;
}

#tcgpt {
    font-family: "Pacifico", sans;
    font-size:30px ;
    background-color:var(--tertiary-color) ;
    border-radius: 6px;
    margin-top: 20px;
    width: 80vw;
    font-weight: 50;
    color:var(--primary-color);
    transition: color 0.3s ease 0s;
}

#tcgpt:hover{
  background-color:rgb(146, 233, 197);
  border-radius: 4px;

}
#inht {
  font-family: "Montserrat", sans;
  font-size: 30px;
  overflow: auto;
  margin: 5px;
  position: relative;
  z-index: 99;
  text-align: center;
 color:rgb(133, 202, 202);
 
 
}
#inht, a{
  text-decoration: none;
  color:rgb(133, 202, 202);
}
#inht, a:hover{
  color:rgb(162, 255, 255) ;
  }
#icm {
    text-decoration: none;
    color:var(--primary-color);

}

#icm:hover{
    color: aqua;
}

/*Find.html*/
#fh {
  font-family: "Quicksand", sans;
  color: var(--primary-color);
  margin-left: 2vw;
  margin-top: 2vh;

}
#fp {
  font-family: "Montserrat", sans;
  margin-left: 4vw;
  margin-top: 3vh;
  color: var(--btnhover);
  
}

#fpl{
  font-family: "Outfit", sans;
  margin-left: 3vw;
  margin-top: 3vh;
  color: #fd3186;
  text-decoration: none;
  transition: color 0.3s ease 0s;
}
#fpl:hover{
  color:darkcyan;
}

/*about.html*/
#ah{
  font-family: "Quicksand", sans;
  color: var(--primary-color);
  margin-left: 2vw;
  margin-top: 10vh;
  font-size: 35px;


}
#ap{
  font-family: "Outfit", sans;
  color: var(--primary-color);
  font-size: 28px;
  margin:3vw 5vw ;
  background-color:azure;
  border-radius: 2px;
  transition: color 0.3s ease 0s;
}
#ap:hover{
  color: rgb(22, 61, 48);
  background-color: rgb(215, 252, 253);
}

/*footer*/
#container {
  min-height: 40%;
}
#main {
  overflow: auto;
  padding-bottom: 80px;
}

footer{
  background-color: var(--tertiary-color);
  position: relative;
  height: 80px;
  margin-top: -80px;
  clear: both;
  padding: 20px;
  text-align: center;
  font-family: "Outfit", sans;
}

#ffp {
  margin: 10px;
  font-family: "Outfit", sans;
  color: var(--primary-color);
}

#ictt {
  width: 20px;
  margin: 3px;
}
#ictw {
  width: 20px;
  margin: 3px;
}
#icd {
  width: 20px;
  margin: 3px;
}
#ictt:hover{
  width: 25px;
}
#ictw:hover{
  width: 25px;
}
#icd:hover{
  width: 25px;
}
/*imgbox*/

.img-box{
  margin-left: 45vw;
  margin-top: 5vh;
  width:10vw ;
  height: 40vh;
 position: relative;
  bottom: 0;
  
}
.img-box img{
  height: 100%;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  transition: bottom 1s,left 1s;
  
}

.img-box:hover .back-img{
  bottom: 40px;

}
.img-box:hover .main-img{
  left: 20px;
}

.main-img{
  border-radius: 2px;
 
}